<div class="col searching">
    <div class="row">
        <div class="col-md-12"><input [(ngModel)]='name' placeholder="Enter name or blood"></div>
      
</div>
</div>

<!--select sorting value-->
<div class="row">
    <div class="sorting col-md-2">
        <label>Select filter to organize &nbsp;</label>
    </div>
    <div class="sorting col-md-3">
        <select [(ngModel)]='SortbyParam'>
            <option value="" selected disabled hidden>Select One</option>
            <option value="name">Name</option>
            <option value="ancestry">Blood</option>
        </select>
        <button type="button" class="sort" (click)="onSortDirection()">
            <i *ngIf="SortDirection==='asc'"><img class="arrow" src="assets/images/arrow-bar-down.svg"></i>
            <i *ngIf="SortDirection==='desc'"><img src="assets/images/arrow-bar-up.svg"></i>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3"
        *ngFor="let character of char |filter:name | sort:[SortbyParam,SortDirection]"> 
        <div class="card">
            <div class="image">
                <a [routerLink]="['/character-details', character.url]">
                    <img [src]="character.image" [alt]="character.name" class="card-img-top" />
                </a>
            </div>
            <div class="card-inner">
                <div class="header">
                    <h4>{{character.name}}</h4>
                    <small class="text-muted">{{character.ancestry}}</small><br>
                    <small class="text-muted">{{character.house }}</small>
                </div>
            </div>
        </div>
    </div>
</div>